# Template for FCOM blob add to group
record( bo, "$(P)$(R)" )
{
	field( SCAN, "$(SCAN=Passive)" )
	field( EVNT, "$(EC=0)" )
	field( TSE,  "$(EC=40)" )
	field( DTYP, "FCOM" )
	field( ZNAM, "Wait" )
	field( ONAM, "Add" )
	field( OUT,  "#C0S$(GROUP)@$(BLOB)" )
	field( HIGH, "0.0001" )
	field( FLNK, "$(FLNK=)" )
	info( autosaveFields, "OSV ZSV DESC" )
}
